{% if ads.sidebar is not empty %}
	{% set heading = ads.sidebar.heading %}
	{% set content = ads.sidebar.content %}
{% endif %}

<div id="sidebar-ad" class="meta">
	<div class="ad-container">
		<div class="field">
			<div class="heading">
				<label> {{ heading }} </label>
			</div>

			<div class="input ltr">
				{{ content }}
			</div>
		</div>
	</div>
</div>