{% if ads is not empty %}
	{% set heading = ads.heading %}
	{% set content = ads.content %}
	{% set linkText = ads.linkText %}
	{% set link = ads.link %}
{% endif %}

<div id="sidebar-ad" class="meta">
	<div class="ad-container sidebar-ad">
		<div class="field">
			<div class="heading">
				<label> {{ heading }} </label>
			</div>

			<div class="input ltr">
				<label> {{ content }} </label>
				<a href={{link}}> {{ linkText }} </a>
			</div>
		</div>
	</div>
</div>