{% macro setElementIndexSource(source) %}
    <div class="sidebar hidden">
        <nav>
            <ul>
                <li>
                    <a data-key="{{ source }}"></a>
                </li>
            </ul>
        </nav>
    </div>
{% endmacro %}