<div class="recentnews-container scroll-x-auto">
    <div class="elements hidden">
        <div class="tableview">
            <table class="data fullwidth table">
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>